<header class="header_section">

  <div class="header_bottom">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            Furinture Selling 
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <%= link_to " About Us", about_us_path, class:"nav-link" %>
            </li>
             <li class="nav-item">
                <%= link_to " Contact Us", contact_us_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "shopping", products_path, class:"nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>